/node_modules
/public/hot
!/public/storage/
/public/storage/*
!/public/storage/template/
/storage/*.key
/vendor
.env
.env.cypress
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.history
cypress.env.json
composer.lock
package-lock.json
.DS_Store
cypress/downloads/*
